@import "partials/mixins";
@import "partials/params";
@import "partials/reset";
@import "partials/fonts.scss";

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  user-select: none;
  line-height: normal;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  // font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  //background-color: $background-color;
  //color: $font-color;
}

.container-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  padding-top: 1rem;
  max-width: 1600px;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #f7f9fc;
  .section_box {
    height: 100%;
    display: block;
    overflow: auto;
    position: relative;
  }
}

//main section
.main_section {
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  width: calc(100% - 300px);
}
